.app-content {
    flex: 1;
}

.top-area {
    display: flex;
    overflow: hidden;
}

.app-splitter {
    border-top: 5px groove #ef6456;
}

.bottom-area {
    display: flex;
}

.navigation-area {
    display: flex;
    flex-direction: column;
    border-right: 1px #ccc solid;
}

.handler-list {
    flex: 1;
    overflow: scroll;
}

.target-actions {
    padding: 5px;
}

.work-area {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.work-area section {
    flex: 1;
}

.monaco-editor {
    position: absolute !important;
}

.event-view {
    flex: 1;
}
