.event-view {
    padding: 5px;
    overflow: auto;
    font-family: monospace;
    font-size: 12px;
    background-color: #1e1e1e;
    color: #e4e4e4;
    user-select: text;
}

.event-heading {
    margin-left: 104px;
}

.event-item {
    display: grid;
    grid-template-columns: min-content;
    white-space: nowrap;
}

.event-summary {
    grid-row: 1;
    grid-column: 1;
}

.event-details {
    grid-row: 2;
    grid-column: 1;
    padding-right: 24px !important;
}

.event-timestamp {
    padding: 0 10px;
    color: #555;
    vertical-align: middle;
    text-align: right;
}

.event-message {
    font-size: 12px;
    font-weight: bold;
}

.event-message:focus {
    outline: 0;
}

.event-selected .event-summary {
    background-color: #ef6456;
}

.event-selected .event-timestamp {
    color: white !important;
}

.event-selected .event-message {
    color: white !important;
}

.event-item .bp5-card {
    color: #1e1e1e;
}

.event-details td {
    padding: 5px;
}

.event-details td:nth-child(1) {
    vertical-align: top;
    text-align: right;
    font-weight: bold;
}

.event-details td:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.event-details .bp5-button {
    font-size: 10px;
}

.event-dismiss {
    margin-top: 10px;
}
