*.pyc
/*.egg-info/
/agents/*/node_modules/
/build/
/deps/
/dist/
/frida_tools/*_agent.js
/subprojects/frida-core.wrap
/subprojects/frida-core/
/subprojects/frida-gum.wrap
/subprojects/frida-gum/
/subprojects/frida-python/
